.breadcrumbs {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: #1A1B2E;
}

.breadcrumbs * {
  color: #9193A8;
  transition: 0.5s;
}

.breadcrumbs *:not(.slash):hover {
  color: #ffffff;
}

.breadcrumbs li:last-child {
  color: #ffffff;
}